{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
	boutique.rayon.header
	{% endtrans %}
	{{ categorie.libelle }}
{% endblock %}

{% block body %}
	<div class="card col-md-12">
		<div class="card-header">
			<h3>
				<i class="fas fa-store"></i>
				{% trans %}
				boutique.rayon.shelfName
				{% endtrans %}
				"{{categorie.libelle}}" :
				{{items|length}}
				{% trans %}
				boutique.rayon.shelfTitle
				{% endtrans %}
			</h3>
		</div>

		<div class="card-body row">
			{% for item in items %}
				<div class="col-md-3">
					<div class="card clickable" onclick="location = '{{ path('app_boutique_rayon', {'idCategorie':categorie.id}) }}'">
						<img src="/{{ item.visuel }}" class="card-img-top" alt="Logo Boutique"/>
						<div class="card-body">
							<h2>{{ item.libelle }}</h2>
							<p class="card-text">
								{{ item.texte }}
							</p>
							<h2>
								<span class="badge badge-primary">
									<i class="fas fa-cart-plus">{{item.prix}}
										€
									</i>
								</span>
							</h2>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
