{# barre de navigation  #}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="{{ path("app_default_index") }}">
		<i class="fas fa-home"></i>
		{{ 'default.navbar.accueilBoutique' | trans }}
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_boutique") }}">
					<i class="fas fa-store"></i>
					{{ 'default.navbar.boutique' | trans }}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_default_contact") }}">
					<i class="fas fa-comments"></i>
					{{ 'default.navbar.contact' | trans }}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_panier_index")}}">
					<i class="fas fa-shopping-cart"></i>
					<span  class="badge badge-pill {% if render(controller('App\\Controller\\PanierController::nombreProduits')) > 0 %} badge-info {% else %} badge-danger {% endif %}">{{ render(controller('App\\Controller\\PanierController::nombreProduits')) }}</span>
					{{ 'defaul.navbar.panier' | trans }}
				</a>
			</li>
			{# TODO : ajouter au fil des TPs les autres éléments du menu #}
		</ul>
		<!-- Début champ de recherche -->
		{# TODO #}
		<!-- Fin champ de recherche -->
		<!-- Début menu des monnaies -->
		<form action="" class="form-inline my-2 my-lg-0">
			<input type="text" class="form-control mr-sm-2" id="searchString" placeholder="chercher produit(s)" label="search">
			<input id="locale" type="hidden" value="{{ app.request.attributes.get('_locale') }}">
			<button id="searchButton" class="btn btn-secondary my-2 my-sm-0">
				<i class="fas fa-search"></i>
			</button>
		</form>
		<!-- Fin menu des monnaies -->
		<!-- Début menu des langues -->
		{% set locale = app.request.attributes.get('_locale') %}
		{% set route = app.request.attributes.get('_route') %}
		{% set params = app.request.attributes.get('_route_params') %}
		<ul class="navbar-nav my-0">
			<li class="nav-item dropdown">
				<span class="nav-link dropdown-toogle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
					<img src="{{ asset('images/locale/'~locale~'.png') }}" alt="image pays">
				</span>
				<div class="dropdown-menu">
					{% for uneLocale in supported_locales | split('|') %}
						{% if uneLocale != locale %}
							{% set params = params | merge({'_locale': uneLocale }) %}
								<a href="{{ path(route,params) }}" class="dropdown-item" aria-labelleby="dropdown01">
									<img src="{{ asset('images/locale/'~uneLocale~'.png') }}" alt="image pays {{ uneLocale }}">
								</a>
						{% endif %}
					{% endfor %}
				</div>
			</li>
		</ul>
		<!-- Fin Menu des langues -->
	</div>
</nav>
