{# barre de navigation  #}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="{{ path("app_default_index") }}">
		<i class="fas fa-home"></i>
		{%trans%}
		templates.navbar.home
		{% endtrans %}
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_boutique") }}">
					<i class="fas fa-store"></i>
					{% trans %}
					templates.navbar.store
					{% endtrans %}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path("app_default_contact") }}">
					<i class="fas fa-comments"></i>
					{% trans %}
					templates.navbar.contact
					{% endtrans %}
				</a>
			</li>
		</ul>
		<!-- Début champ de recherche -->
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" name="search" placeholder="Cherche un produit ..." id="searchString">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn-search">
				<i class="fas fa-search"></i>
			</button>
		</form>
		<!-- Fin champ de recherche -->
		<!-- Début menu des monnaies -->
		{# TODO #}
		<!-- Fin menu des monnaies -->
		<!-- Début menu des langues -->
		{% set route = app.request.attributes.get('_route')%}
		{% set params = app.request.attributes.get('_route_params') %}
			<ul class="navbar-nav my-0"> <li class="nav-item dropdown">
				<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="{{ asset('/images/locale/'~ app.request.getLocale() ~'.png') }}" alt="Fr">
				</span>
				<div class="dropdown-menu" aria-labelledby="dropdown01" style="min-width: 5rem;">
					{% for uneLocale in supported_locales | split('|') %}
						{% if uneLocale != app.request.getLocale() %}
							{% set params = params | merge({'_locale': uneLocale}) %}
							<a href="{{ path(route, params) }}" class="dropdown-item">
								<img src="{{asset('/images/locale/'~ uneLocale ~'.png')}}">
							</a>
						{% endif %}
					{% endfor %}
				</div>
			</li>
		</ul>
		<!-- Fin Menu des langues -->
	</div>
</nav>
